body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    float: left;
    width: 250px;
    height: 100vh;
    background-color: #0973b9;
}

.content {
    width: calc(100%-250px);
    height: 100vh;
    margin-left: 250px;
}

#logo {
    display: flex;
    width: 100%;
    height: 50px;
}

#menu-content {
    width: 100%;
    height: calc(100% - 50px);
}

#logo .iconbar {
    height: 100%;
    width: 50px;
    background-image: url('../../Content/icon/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#logo .logo-text {
    height: 100%;
    width: calc(100% - 50px);
    background-repeat: no-repeat;
    background-image: url('../../Content/icon/logotext.png');
    background-position: center;
}

.menu-item {
    display: flex;
    color: #fff;
    border-bottom: 1px solid #08598e;
    border-top: 1px solid #1b8bd4;
}

.menu-item:hover{
    background-color:#1b8bd4;
    cursor:pointer;
}

    .menu-item .menu-item-icon {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }
    .menu-item-text{
        line-height:40px;
    }

.icon-overview {
    background-image: url('../../Content/icon/icon-overview.png');
}
.icon-report {
    background-image: url('../../Content/icon/iconReport.png');
}

.content-header {
    height: 50px;
    background-color: #0973b9;
}

.content-body{
    position:relative;
    padding:10px;
    height:calc(100vh - 70px);
    
}
    .content-body .page-title h1{
        margin: 5px 0px 5px 0px;
        font-size:18px; 
    }
    .content-body .grid-content{
        position:absolute;
        top:50px;
        left:10px;
        right:10px;
        bottom:10px;
        border:1px solid #08598e;
    }
.grid-content .toolbar {
    height: 25px;
    width: 100%;
    display: flex;
    background-color: rgb(170, 170, 170);
}
.toolbar button{
    height:100%;
    display:flex;
    border:none;
    cursor:pointer; 
    border-radius:unset;
    background:none;
}
.toolbar button:hover{
    background-color:#0973b9;
}
.grid-content .grid {
    border:1px solid #ccc;
    width:100%;
    height:calc(100% - 50px);
}
.grid-content .paging {
    height:25px;
    width:100%;
}
.icon{
    display:block;
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    background-size:100%;
    background-position:center; 
    margin-right:5px;
}
    .icon.icon-add {
        background-image: url('../../Content/icon/add-icon.png');
    }
    .icon.icon-edit {
        background-image: url('../../Content/icon/edit-icon.png');
    }
    .icon.icon-delete {
        background-image: url('../../Content/icon/delete-icon.png');
    }
/* Table */
.grid table{
    width:100%;
    border-collapse:collapse;
}
table thead {
    background-color: rgb(170, 170, 170);
}
table th,td{
    padding:4px;
}
table tbody tr:hover{
    background-color:#53b7f8;
    cursor:pointer;
}